* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8500;
  border-radius: 10px;
}
.bars {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
  margin: 0 30px;
}
header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}
.animation {
  display: flex;
}
.animation div {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  background-color: #0f2853;
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.two {
  animation-delay: 0.3s;
}
.three {
  animation-delay: 0.6s;
}
@keyframes anim {
  100% {
    opacity: 0.5;
    transform: translatey(-30px);
  }
}
.rent {
  margin: 30px;
  padding: 17px 27px;
  border-style: none;
  border-radius: 10px;
  color: white;
  background-color: #ff8500;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.603);
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
}
.pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro p {
  font-size: 30px;
  line-height: 60px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 20px;
}
.pro span {
  color: #ff8500;
  font-size: 20px;
}
.pro button {
  padding: 20px;
  border-style: none;
  border-radius: 15px;
  background-color: #ff8500;
  color: #eee;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.603);
}
.pro button:hover {
  background-color: #dc7200;
}
.orange {
  width: 150px;
  height: 150px;
  background-color: #ff8500;
  margin: 30px;
}
.blue {
  width: 150px;
  height: 150px;
  background-color: #0f2853;
  margin-top: 230px;
  margin-left: 200px;
}
h2 {
  height: 150px;
  padding: 50px;
  margin-top: 30px;
  letter-spacing: 2px;
  background-color: #0f2853;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #eee;
}
.modern {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modern .con ul li {
  color: #555b63;
  font-size: 20px;
  line-height: 2;
  margin: 20px;
}
.modern .con ul li::before {
  content: "-";
  margin: 10px;
}
.con p {
  font-size: 30px;
  line-height: 60px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 20px;
}
.con span {
  color: #ff8500;
  font-size: 20px;
}
.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2853;
  color: #eee;
  text-transform: capitalize;
  font-size: 15px;
  padding: 50px;
  line-height: 2;
}
.steps button {
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  background-color: #ff8500;
  color: #eee;
  margin: 10px;
}
h3 {
  color: #ff8500;
  text-transform: capitalize;
  margin-left: -20px;
}
.office {
  display: flex;
  flex-wrap: wrap;
}
.office div {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  width: 90%;
  color: #ff8500;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 50px auto;
}
.office p {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-left: 60px;
  margin-top: -20px;
}
.office p span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.pur {
  margin: 50px auto;
  padding: 20px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #ff8500;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.404);
}
.office button:hover {
  background-color: #dc7200;
}
.circle {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle button {
  width: 350px;
  height: 350px;
  color: white;
  border-style: none;
  border-radius: 50%;
  background-color: #0f2853;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0 0 15px rgb(51, 51, 51);
  animation: circle 1.2s linear infinite alternate none;
}
@keyframes circle {
  100% {
    transform: scale(1.2);
  }
}
.chose {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 2;
}
.chose span {
  color: #ff8500;
}
.style {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.style div {
  padding: 80px;
  height: 300px;
}
.style i {
  color: white;
  font-size: 40px;
  margin: 15px;
}
.style span {
  font-size: 25px;
  text-transform: uppercase;
}
.style p {
  display: none;
  font-size: 18px;
}
.style .first {
  text-align: center;
  background-color: #ff8500;
  width: 25%;
}
.style .second {
  text-align: center;
  background-color: #0f2853;
  width: 25%;
}
.style .third {
  text-align: center;
  background-color: #cccccc;
  width: 25%;
}

.style div:hover p {
  display: block;
}
.glopal {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.glopal .first {
  width: calc(50% - 80px);
  padding-top: 100px;
}
.glopal .second {
  width: calc(50% - 80px);
  margin-top: 50px;
  line-height: 2;
}
.glopal .second span {
  font-size: 20px;
  color: #ff8500;
}
.glopal .second h5 {
  font-size: 30px;
}
.glopal .second p {
  font-size: 15px;
}
.glopal .second button {
  padding: 15px;
  border-style: none;
  border-radius: 25px;
  background-color: #ff8500;
  color: white;
  font-size: 20px;
  margin-top: 25px;
}
.question {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.question .first {
  margin: 20px;
  width: calc(50% - 40px);
  line-height: 2;
}
.question .first span {
  font-size: 25px;
  color: #ff8500;
}
.question .first h5 {
  font-size: 40px;
}
.question .first p {
  font-size: 15px;
  color: #333;
  line-height: 2;
  margin-bottom: 100px;
}
.question .second {
  margin: 20px;
  width: calc(50% - 40px);
  font-size: 17px;
  color: #333;
  line-height: 1.5;
}
.question .second h6 {
  font-size: 20px;
}
hr {
  height: 1px;
  background-color: #333;
  border-style: none;
}
.question .second h6::before {
  content: "+";
  width: 10px;
  float: right;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 40px;
  line-height: 2;
}
.info span {
  font-size: 25px;
  color: #ff8500;
}
.info h6 {
  font-size: 30px;
}
.info p {
  font-size: 20px;
  margin-bottom: 40px;
}
.send {
  display: flex;
  flex-direction: column;
}
.send input {
  margin: 20px;
  width: 400px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: solid 1px black;
}
.send input::placeholder {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}
.send .message-eria {
  width: 400px;
  height: 200px;
}
.send button {
  align-self: center;
  width: 150px;
  padding: 20px;
  background-color: #ff8500;
  border-style: none;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.44);
}
@media screen and (max-width: 550px) {
  .bars {
    display: block;
    margin: 0 20px;
    font-size: 25px;
  }
  .bars:hover ul {
    display: block;
  }
  header ul {
    display: none;
  }
  .pro p {
    margin-left: 60px;
  }
  h2 {
    font-size: 25px;
  }
  .modern {
    display: flex;
    flex-wrap: wrap;
  }
  .modern p {
    display: none;
  }
  .modern ul li {
    text-align:center;
  }
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 17px;
  }
  .office {
    display: flex;
    flex-wrap: wrap;
  }
  .office div span {
    width: 50%;
    font-size: 20px;
  }
  .circle{
    width: 75%;
    margin: 5px auto;
  }
  .style div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .style div:hover p{
    display: none;
  }
  .glopal .first{
    display: none;
  }
  .glopal .second{
    width: 100%;
  }
  .contact{
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
  width: 100%;
  }
  .contact .send input{
    margin:10px;
    width: 350px;
}
}
